@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?611f5f7f366c5a4a6d5dbbd8ed0df287") format("truetype"), url("./flaticon.woff?611f5f7f366c5a4a6d5dbbd8ed0df287") format("woff"), url("./flaticon.woff2?611f5f7f366c5a4a6d5dbbd8ed0df287") format("woff2"), url("./flaticon.eot?611f5f7f366c5a4a6d5dbbd8ed0df287#iefix") format("embedded-opentype"), url("./flaticon.svg?611f5f7f366c5a4a6d5dbbd8ed0df287#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-settings:before {
  content: "";
}

.flaticon-analytics:before {
  content: "";
}

.flaticon-technical-support:before {
  content: "";
}

.flaticon-customer:before {
  content: "";
}

.flaticon-new-product:before {
  content: "";
}

.flaticon-package:before {
  content: "";
}

.flaticon-trainer:before {
  content: "";
}

.flaticon-community:before {
  content: "";
}

.flaticon-account:before {
  content: "";
}

.flaticon-logout:before {
  content: "";
}

.flaticon-logout-1:before {
  content: "";
}

.flaticon-logout-2:before {
  content: "";
}

.flaticon-exit:before {
  content: "";
}

.flaticon-money:before {
  content: "";
}

.flaticon-charge-1:before {
  content: "";
}

.flaticon-gift-card:before {
  content: "";
}

.flaticon-coupon:before {
  content: "";
}

.flaticon-coupon-1:before {
  content: "";
}

.flaticon-ledger:before {
  content: "";
}

.flaticon-ledger-1:before {
  content: "";
}

.flaticon-ledger-2:before {
  content: "";
}

.flaticon-document:before {
  content: "";
}

.flaticon-new-user:before {
  content: "";
}

.flaticon-add-group:before {
  content: "";
}

.flaticon-synchronize:before {
  content: "";
}

.flaticon-rotation-lock:before {
  content: "";
}

.flaticon-rotation-lock-1:before {
  content: "";
}

.flaticon-contact-form:before {
  content: "";
}

.flaticon-google-forms:before {
  content: "";
}

.flaticon-clipboard:before {
  content: "";
}

.flaticon-website:before {
  content: "";
}

.flaticon-google-forms-1:before {
  content: "";
}

.flaticon-form:before {
  content: "";
}

.flaticon-test:before {
  content: "";
}

.flaticon-test-1:before {
  content: "";
}

.flaticon-checklist:before {
  content: "";
}

.flaticon-shield:before {
  content: "";
}

.flaticon-permission:before {
  content: "";
}

.flaticon-user:before {
  content: "";
}

.flaticon-login:before {
  content: "";
}

.flaticon-permission-1:before {
  content: "";
}

.flaticon-income:before {
  content: "";
}

.flaticon-accounting:before {
  content: "";
}

.flaticon-accounting-1:before {
  content: "";
}

.flaticon-fees:before {
  content: "";
}

.flaticon-settings-1:before {
  content: "";
}

.flaticon-maintenance:before {
  content: "";
}

.flaticon-enter:before {
  content: "";
}

.flaticon-bookkeeping:before {
  content: "";
}

.flaticon-business-report:before {
  content: "";
}

.flaticon-utility-rate:before {
  content: "";
}

.flaticon-utilities:before {
  content: "";
}

.flaticon-theme:before {
  content: "";
}

.flaticon-monitor:before {
  content: "";
}

.flaticon-home:before {
  content: "";
}

.flaticon-arrow-down-sign-to-navigate:before {
  content: "";
}

.flaticon-edit:before {
  content: "";
}

.flaticon-user-1:before {
  content: "";
}

.flaticon-bill:before {
  content: "";
}

.flaticon-delete-1:before {
  content: "";
}

.flaticon-trash:before {
  content: "";
}

.flaticon-inquiry:before {
  content: "";
}

.flaticon-microphone-black-shape:before {
  content: "";
}

.flaticon-microphone-with-slash-interface-symbol-for-mute-audio:before {
  content: "";
}

.flaticon-search:before {
  content: "";
}
/*# sourceMappingURL=flaticon.css.map */