{% extends 'gymtime/dashboard.html' %}{% load static %}{% block content %}

<div class="item3">
<section class="change-pass">
    <h1 class="change-pass-heading">Change Password</h1>

    <section class="change-pass-container">
        <form action="" method="POST">
            {% csrf_token %}
            <section class="change-pass-inputs">
                <label>Password</label>
                <input type="password" name="password1" />
                <label>Re-Enter Password</label>
                <input type="password" name="password2" />

                <button id="change-pass-submit" type="submit" name="submit">
                    Submit
                </button>
            </section>
        </form>
    </section>
</section>
</div>

{% endblock %}